* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    background-color: #121212; /* Gelap Premium */
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    background: #1f1f1f;
    padding: 15px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #333;
}
.nav-content { display: flex; justify-content: space-between; align-items: center; }
.logo-text { font-size: 24px; color: #00ff88; }
.logo-text span { color: white; }
.navbar ul { display: flex; list-style: none; gap: 20px; }
.navbar a { text-decoration: none; color: #ccc; font-weight: 500; }
.navbar a:hover { color: #00ff88; }

/* Grid Komik */
.home-container { padding: 40px 5%; }
.section-title { margin-bottom: 25px; font-size: 22px; border-left: 5px solid #00ff88; padding-left: 15px; }
.comic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}
.comic-card {
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
}
.comic-card:hover { transform: translateY(-10px); }
.thumbnail {
    width: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;
    border-radius: 8px;
    background: #333;
}
.thumbnail img { width: 100%; height: 100%; object-fit: cover; }
.comic-info { padding: 10px 0; }
.genre-tag { font-size: 10px; color: #00ff88; font-weight: bold; }
.author { font-size: 12px; color: #888; }

/* Dev Section */
.upload-section { margin-top: 100px; text-align: center; color: #444; }
.upload-section button { background: #333; color: #888; border: none; padding: 10px; cursor: pointer; }
